.avatar {
  -webkit-box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.8);
  background-image: url("../../assets/portrait1.jpg");
  background-size: cover;
  border-radius: 50%;
  height:200px;
  width:200px;
  margin: 5em auto;
  padding:3em;
}

.portrait {
  flex-grow:1;
  -webkit-box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.8);
  background-image: url("../../assets/running.jpg");
  background-size: cover;
  border-radius:1em;
  margin:0 0 2em 2em;
}
