.banner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(140deg, rgba(63,94,251,0) 0%, rgba(0,0,0,0.8) 100%), url('../../assets/banner.jpg');
  background-position: center;
  background-size: cover;
}

.banner-text {
  position: relative;
  display: flex;
  text-align: end;
  float:right;
  max-width: 50vw;
  min-height: 80vh;
  color: white;
  align-items: center;
}

.banner-name {
  padding:2em 0;
  border-color: #00adb5;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;

}

.banner-title h3 {
  margin: 0;
}

.banner-links {
  display: flex;
  padding:2em 0;
  justify-content: space-between;
}

.banner-links a {
  display: flex;
  color: white;
  text-decoration: none;
}

.banner-links a:hover {
  color:#00adb5;
}

.banner-text h1 {
  font-size: 5em;
}

.links {
  font-family: 'Roboto', sans-serif;
}

.storyback {
  min-height: 50vh;
  min-width: 100%;
  background-image: linear-gradient(270deg, rgba(63,94,251,0) 0%, rgba(0,0,0,1) 100%), url('../../assets/portrait.jpg');
  background-size: cover;
  background-position: center;
}

.projectback {
  min-height: 50vh;
  min-width: 100%;
  background-image: linear-gradient(140deg, rgba(63,94,251,0) 0%, rgba(0,0,0,0.8) 100%), url('../../assets/projects.jpg');
  background-position: center;
  background-size: cover;
}

.contactback {
  min-height: 35vh;
  min-width: 100%;
  background-image: linear-gradient(270deg, rgba(63,94,251,0) 0%, rgba(0,0,0,1) 100%), url('../../assets/contact.jpg');
  background-size: cover;
  background-position: center;
}
