.project {
  height:360px;
  width:660px;
  border-radius: 1em;
}

.rd {
  background-image: url("../../assets/rightdose.jpg");
  background-size: cover;
  background-position: center;
}

.mh {
  background-image: url("../../assets/milehigh.jpg");
  background-size: cover;
  background-position: center;
}

.mc {
  background-image: url("../../assets/rightdose.jpg");
  background-size: cover;
  background-position: center;
}

.desc-paragraph {
  padding:2em 0 2em 0;
}
