.chev {
  position: absolute;
  bottom: 10vh;
  left: 47%;
}

.chev a {
  position: absolute;
  font-size: 3em;
  color:white;
}

.chev a:hover {
  color:#00adb5;
  font-size: 3.1em;
}

.down-chev {
  text-align: center
}

.down-chev a {
  font-size: 2em;
  color:#00adb5;
}

.down-chev a:hover {
  color:#008a8e;
  font-size: 2.05em;
}
