#navbar {
  background-color: rgba(255,255,255,.9); /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -100px; /* Hide the navbar 50 px outside of the top view */
  width: 100%;
  transition: top 0.5s;
  -webkit-box-shadow: 5px 5px 13px -4px rgba(0,0,0,0.28);
  -moz-box-shadow: 5px 5px 13px -4px rgba(0,0,0,0.28);
  box-shadow: 5px 5px 13px -4px rgba(0,0,0,0.28); /* Transition effect when sliding down (and up) */
}


.navlinks {
  display: flex;
  align-items: baseline;
  padding:0.6em;
  color: #222831;
}

.navlinks a {
  color:#222831;
  padding: 0 1em 0 1em;
  text-decoration: none;
}

.navlinks a:hover {
  color: #00adb5;
}

.active {
  color:#00adb5;
}
