#navbar {
  background-color: rgba(255,255,255,.9); /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -100px; /* Hide the navbar 50 px outside of the top view */
  width: 100%;
  transition: top 0.5s;
  -webkit-box-shadow: 5px 5px 13px -4px rgba(0,0,0,0.28);
  -moz-box-shadow: 5px 5px 13px -4px rgba(0,0,0,0.28);
  box-shadow: 5px 5px 13px -4px rgba(0,0,0,0.28); /* Transition effect when sliding down (and up) */
}

#navbar a {
  float: left;
  padding:24px;
  display: block;
  color: #222831;
  text-align: center;
  text-decoration: none;
}

#navbar a:hover {
  color: #00adb5;
}


