#mystory {
  background-color:#f0f5f9;
  padding-bottom: 15vh;
}

#projects {
  background-color:#f0f5f9;
  padding-bottom: 15vh;
}

#contact {
  background-color:#f0f5f9;
  min-height: calc(100vh - 86px);
}

.section {
  min-height: 100vh;
}

.heading {
  border-color: #00adb5;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  text-align: center;
  padding:4em;
}

.paragraph {
  text-align:center;
  padding:4em;
}

.pitch {
  padding:2em 0 2em 0;
}
