.justify {
  text-align: justify;
}

.light {
  font-weight: 100;
}

.width {
  width:60vh;
}

.no-deco {
  text-decoration:none;
}

.no-deco:hover {
  color:#00adb5;
  text-decoration:none;
}

.no-deco p:hover {
  color:#00adb5;
  text-decoration:none;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}


.white {
  color:white;
}
